body {
  margin:0px;
  background-color:rgba(48, 145, 242, 0.0980392156862745);
  background-image:none;
  position:relative;
  left:-0px;
  width:10px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
